# Temporary files
*~
*.tmp
*.swp
*.autosave

# Vim session files
*.vim

# QTCreator
*.pro.user
*.pro.user.*

# OS dependent files
.DS_Store
Thumbs.db
desktop.ini
.desktop

# Library files
*.so
*.a
*.lib

# Object files
*.o

# Executables
ObsticalAvoidance
motionEstimation/MotionEstimation

# Images
*.png
*.bmp

# Other repositories
.svn
.cvs

# other files
.nfs*

# data
motionEstimation/data/
build/
Build/
