# Temporary files
*~
*.tmp
*.swp
*.autosave
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# Vim session files
*.vim

# TexStudio files
*.aux
*.log
*.out
*.synctex.gz
*.dvi
*.bbl
*.bcf
*.blg
*.run.xml

# QTCreator
*.pro.user
*.pro.user.*

# OS dependent files
.DS_Store
Thumbs.db
desktop.ini
.desktop

# Library files
*.so
*.a
*.lib

# Object files
*.o

# Executables
ObsticalAvoidance
motionEstimation/MotionEstimation

# Images
*.png
*.bmp
*.jpg
*.cam

# Other repositories
.svn
.cvs

# other files
.nfs*

# data
motionEstimation/data/
build/
Build/
